/* Write your CSS here */
.history-list-item {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #cbd5e1;
  padding-top: 10px;
}
.data-cell {
  width: 30%;
  font-size: 20px;
}
.delete-image {
  height: 30px;
  width: 30px;
}
.delete-button {
  background-color: #ffffff;
  border: none;
  padding: 0px;
  cursor: pointer;
}
